<!-- views/pages/layout/edit.ejs -->
<div>
    <input type="text" name="title" value="<%= book.title %>">
    <input type="text" name="author" value="<%= book.authors %>">
    <input type="text" name="image" value="<%= book.image %>">
    <input type="text" name="description" value="<%= book.description %>">
    <input type="text" name="isbn" value="<%= book.isbn %>">
    <input type="text" name="genre" value="">
    <input type="text" name="summary" value="<%= book.summary%>">
</div>